mixin section-article(title,paragraphs)
   article(class="section__article")
      h3(class="section__subtitle")= title
      each paragraph in paragraphs
         p(class="section__paragraph")= paragraph