include ./section-article
mixin section(title,image,contentSection,_class='')
   section(class='section section'+_class)
      if(title)
         h2(class='section__title')= title
      div(class='section__container')
         img(class="section__image",src!=image.src, alt!= image.alt, srcset!=image.srcset)   
         .section__text
            each value in contentSection
               +section-article(value.title,value.paragraphs)
