include ./submenu
mixin links(title,subLinks)
   li.menu__item
      if(subLinks)
         a.menu__link(data-menu=title)= title
      else
         a.menu__link(href="#",data-menu=title)= title

      +submenu(subLinks,title)