extends ../templates/template
include ../mixins/section/section
block page
   include ../blocks/header/header
   main.main
      +section('Designed for the future',editorImg,editorSection,'-editor')
      +section('',stateImg,stateSection,'-state')
      +section('',featureImg,featureSection,'-feature')
   include ../blocks/footer

     
   