include ../../mixins/btn 
header.header
   include ./navbar
   h1.header__title A modern publishing platform
   p.header__paragraph Grow your audience and build your online brand
   
   +btn("Start for Free",'#','')
   +btn("Learn More",'#','')
   